__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/
env/
*.env
.DS_Store
node_modules/
.vscode/
.idea/
*.swp
*.swo
*~
.coverage
htmlcov/
.pytest_cache/
*.db
*.sqlite3
*.csv
*.pdf
*.jpeg
*.jpg
*.png
